<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechCell</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container">
  <h1 class="text-center my-4">TechCell  </h1>
  <h3 class="text-center my-4">Autor: Erick Maldonado - Operaciones CRUD</h3>
  <P class="text-center my-4">Lenguaje Programación:  Javascript - Servidor: Nodejs + DataBase: MYSQL </P>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(product => { %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.brand %></td>
          <td><%= product.model %></td>
          <td><%= product.price %></td>
          <td><%= product.quantity %></td>
          <td><%= product.total %></td>
          <td>
            <a href="/edit/<%= product.id %>" class="btn btn-primary">Edit</a>
            <a href="/delete/<%= product.id %>" onclick="return confirm('Are you sure you want to delete this product?')" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/add" class="btn btn-success">Add Product</a>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
